<!-- Footer -->
<footer id="footer" class="container">
  <div class="row 200%">
    <div class="12u">

      <!-- About -->
      <section>
        <h2 class="major"><span>What's this about?</span></h2>
        <p>
          This is the <strong>Batang-X Universe</strong>, a serial web novel. Batang-X is a superhero from 
          the Philippines, and since <a href="http://www.wipo.int/branddb/ph/en/showData.jsp?ID=PHTM.41995098468">
          the original IP holders decided not to renew his trademark</a>, putting him in public domain, I (
          <a href="{{ '/about/' | prepend: site.baseurl }}">GaiusCoffee</a>) decided to reboot his story. A
          "serial web novel" is a just a fancy way of saying that I will update this story periodically, in 
          this website. I hope you guys enjoy, and feel free to 
          <a href="https://github.com/GaiusCoffee/batangx.com/issues/new">contact me</a> regarding your thoughts
          and comments on the story.
        </p>
      </section>

    </div>
  </div>
  <div class="row 200%">
    <div class="12u">

      <!-- Contact -->
      <section>
        <h2 class="major"><span>Get in touch</span></h2>
        <ul class="contact">
          <li><a class="icon fa-facebook" href="#"><span class="label"></span></a></li>
          <li><a class="icon fa-twitter" href="#"><span class="label"></span></a></li>
          <li><a class="icon fa-instagram" href="#"><span class="label"></span></a></li>
          <li><a class="icon fa-dribbble" href="#"><span class="label"></span></a></li>
          <li><a class="icon fa-google-plus" href="#"><span class="label"></span></a></li>
        </ul>
      </section>

    </div>
  </div>

  <!-- Copyright -->
  <div id="copyright">
    <ul class="menu">
      <li>&copy; <a href="{{ '/about/' | prepend: site.baseurl }}">GaiusCoffee</a>. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</footer>