<!-- Nav -->
<nav id="nav">
  <ul>
    <li class="current"><a href="{{ site.url }}">Home</a></li>
    <li>
      <a href="{{ '/story/' | prepend: site.baseurl }}">Story</a>
      <ul>
        <li><a href="#">The Black Guards</a></li>
        <li><a href="#">Gabriel &amp; Ellaine</a></li>
        <li><a href="#">Morningstar</a></li>
      </ul>
    </li>
    <li><a href="#">Neo Manila Times</a></li>
    <li><a href="#">About the Author</a></li>
    <li><a href="#">Contact Me</a></li>
  </ul>
</nav>
